  <nav class="nav green darken-2">
    <ul class="right">
      <li>
        Hello <%= user.userName %>!
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
 
  <div class="row ">
    <div class="col s12 m12">
      <div class="budget card col s12 m6 ">
      <div class="card-content">
        <h1>Budget</h1>
        <ul>
        <% budget.forEach( el=> { %>
          <li data-id='<%=el._id%>'>
            <p>
              Remaining:
              <span
              class=" <%= el.remainingAmount < 0? 'negativeFunds':''%> bold">
                $ <%= (el.remainingAmount / 100).toFixed(2) %>
              </span>
            </p>
            <p>Initial: <span class="bold"> $ <%= (el.initialAmount / 100).toFixed(2) %></span>
            </p>
            <button class="updBudget btn-small btn-flat green">edit</button>
            <dialog id="updateBudgetDialog">
              <form method="dialog">
                <label for="newInitialAmount"> new amount</label>
                <input id="newInitialAmount"  type="number" step="0.01">
                <button class="btn-small red">Cancel</button>
                <button id="saveNewInitialAmountBtn " class=" btn-small green darken-2">Save</button>
              </form>
            </dialog>
            <span class='delBudget del'> <i class="fa fa-trash"></i> </span>
          </li>
        <% }) %>
      </ul>
    <div class="divider"></div>
    <div class="card-content">
      <form action="/budget/create" method='POST'>
        <label>Amount<input type="number" step="0.01" placeholder="Enter additional budget" name='initialAmount'></label>
        <input class='btn green darken-2' type="submit" value="Submit" value="Add to Budget">
      </form>
    </div>
      </div>
      </div>

      <div class=" expense card col s12 m6">
      <div class="card-content">
        <h1>Expenses</h1>
        <ul>
        <% expenses.forEach( el=> { %>
          <li data-id='<%=el._id%>'>
            <p>
             <span class="bold"> $ <%= (el.amount / 100).toFixed(2) %> </span>
              <%= el.description %>
            </p>
            <button class="updExpense btn-flat btn-small green ">edit</button>
            <dialog id="updateExpenseDialog">
              <form method="dialog">
                <label for="newAmount"> new amount</label>
                <input id="newAmount"  type="number" step="0.01">
                <label for="newDescription"> new description</label>
                <input id="newDescription" type="text">
                <button class="red btn-small">Cancel</button>
                <button id="saveNewAmountBtn" class="btn-small green darken-2">Save</button>
              </form>
            </dialog>
            <span class='delExpense del '> <i class="fa fa-trash"></i> </span>
          </li>
          <% }) %>
      </ul>
<div class="divider"></div>
      <form action="/expenses/create" method='POST'>
        <label>Amount
          <input type="number" step="0.01" placeholder="Amount" name='amount'>
        </label>
        <label> Description
          <input type="text" id="description"placeholder="Description" name="description">
        </label>
        <input type="submit" class=' waves-light btn green darken-2' value="Add Expense">
      </form>
      </div>
      </div>
    </div>
    </div>
  </div>
